[submodule "turtlebot_apps"]
	path = turtlebot_apps
	url = https://github.com/jonathanleinola/turtlebot_apps.git
[submodule "turtlebot_interactions"]
	path = turtlebot_interactions
	url = https://github.com/jonathanleinola/turtlebot_interactions.git
[submodule "turtlebot_msgs"]
	path = turtlebot_msgs
	url = https://github.com/jonathanleinola/turtlebot_msgs.git
